# Prog for AI Lab-4
# Student Name: Khawaja Hassaan Ahmad
# Roll Number:    19I-1699
##### Note: you can add any number of cells you like in each task

# Task-1 Solution

In [1]:
import re
comment = re.compile((r'/\*(.*?)\*/'), re.M|re.S)
text1 = '/* this is a comment */'
comment.findall(text1)

[' this is a comment ']

In [2]:
text2 = '''/* this a 
... multiline comment 
... */'''
comment.findall(text2)

[' this a \nmultiline comment \n']

# Task-2 Solution

In [3]:
data = [ 'ACME', 50, 91.1, (2012, 12, 21) ]
name, shares, price,(year,month,day)=data

# Task-3 Solution

In [4]:
data = [ 'ACME', 50, 91.1, (2012, 12, 21) ]
(_,shares,price,_)=data
print(shares, price)

50 91.1

# Task-4 Solution

In [5]:
record = ('Dave', 'dave@example.com', '773-555-1212', '847-555-1212','173-555-1212', '147-505-1212','733-595-1212', '847-555-1212','793-555-1212', '447-555-1212','373-555-1212', '747-555-1212','673-555-1312', '547-555-1212')
name, email, *number = record
print(number)

['773-555-1212', '847-555-1212', '173-555-1212', '147-505-1212', '733-595-1212', '847-555-1212', '793-555-1212', '447-555-1212', '373-555-1212', '747-555-1212', '673-555-1312', '547-555-1212']

# Task-5 Solution

In [6]:
line = 'username:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'
t = tuple(line.split(':'))
uname,*_,l1,l2 = t
print(uname)
print(l1)
print(l2)

username
/var/empty
/usr/bin/false

# Task-6 Solution

In [7]:
a={
'x' : 1,
'y' : 2,
'z' : 3 }

b={
'w' : 10,
'x' : 11,
'y' : 2 }

common = set(a).intersection(b)
print("Common keys: { %s }" % common)
not_same = set(a) - set(b)
print("Keys in a but not in b { %s }" % not_same)

for (key, value) in set(a.items()) & set(b.items()):
    print('Common key value pair: { (%s %s) }' % (key,value))

Common keys: { {'y', 'x'} }
Keys in a but not in b { {'z'} }
Common key value pair: { (y 2) }

# Task-7 Solution

In [8]:
import heapq
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
print(heapq.nlargest(3, nums))  
print(heapq.nsmallest(3, nums))

[42, 37, 23]
[-4, 1, 2]

# Task-8 Solution

In [9]:
import heapq
portfolio = [
{'name': 'IBM', 'shares': 100, 'price': 91.1}, 
{'name': 'AAPL', 'shares': 50, 'price': 543.22}, 
{'name': 'FB', 'shares': 200, 'price': 21.09}, 
{'name': 'HPQ', 'shares': 35, 'price': 31.75}, 
{'name': 'YHOO', 'shares': 45, 'price': 16.35}, 
{'name': 'ACME', 'shares': 75, 'price': 115.65}
]
heapq.nsmallest(3, portfolio, key=lambda s: s['price'])
heapq.nlargest(3, portfolio, key=lambda s: s['price'])

[{'name': 'AAPL', 'shares': 50, 'price': 543.22},
 {'name': 'ACME', 'shares': 75, 'price': 115.65},
 {'name': 'IBM', 'shares': 100, 'price': 91.1}]